page-login {
    form {
        margin-bottom: 32px;
        button {
            margin-top: 20px !important;
        }
    }

    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    ion-label {
         margin-left: 5px;
    }

    ion-input {
         padding: 5px;
    }

    .invalid {
         border-bottom: 1px solid #FF6153;
    }

    .error-message .item-inner {
         border-bottom: 0 !important;
    }
    .login-container {
      margin: 50px;
      padding: 50px;
      background-color: #fff;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .background-color {
      background-color: #fdad26;
    }
    img {
      max-width: 75%;
      align-self: center;
    }
    .text-input::-moz-placeholder {
      color: #70d055;
    }

    .text-input:-ms-input-placeholder {
      color: #70d055;
    }

    .text-input::-webkit-input-placeholder {
      text-indent: 0;
      color: #70d055;
    }
    .orange {
      background-color: #70d055;
    }
}
