<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<!-- <ion-content class="content-container">
  <div class="counselor-bar">
    <button clear color="dark" ion-button icon-left icon-only button-inner>
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <img class="counselor" src="https://i.pinimg.com/236x/5b/9d/ab/5b9dab8e378bbd047fc0895731959f4a.jpg"/>
    <button clear color="dark" ion-button icon-right icon-only button-inner>
      <ion-icon name="ios-information-circle-outline"></ion-icon>
    </button>
  </div>

  <ion-list *ngFor="let message of messageArray">
    <ion-item>
      <ion-avatar item-start>
      </ion-avatar>
      <div class= "message-box" [ngStyle]="{'background-image': 'url(' + this.receiveImgPath + ')'}">
        <div class= "message-box-text">
          {{message.message}}
        </div>
      </div>
    </ion-item>
  </ion-list> -->

<ion-header>
  <ion-navbar color="primary">
    <ion-title> Chat with Counselor </ion-title>
  </ion-navbar>
  <ion-grid class="room-info">
    <ion-row>
      <ion-col justify-content-center padding-left style="font-size: 18px">
        <b>2018.1.28</b>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content>
  <div class="message-wrap" *ngFor="let message of messageArray | async">
    <div class="message right" *ngIf="message.senderid == aefawef123">
      <div class="msg-detail">
        <div class="msg-content">
          <div class="msg-info">
            <p>
              {{message.date}}
          </div>
          <span class="triangle"></span>
          <p class="line-breaker">{{message.text}}</p>

        </div>
      </div>
    </div>

    <div class="message left" *ngIf="message.senderid != aefawef123">
      <div class="msg-detail">
        <div class="msg-content">
          <div class="msg-info">
            <p>
              {{message.date}}
          </div>
          <span class="triangle"></span>
          <p class="line-breaker">{{message.text}}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- <ion-footer>
    <div class="input-container">
      <ion-list class="input-box">
        <ion-item>
          <ion-input type="text" value="Enter Message"></ion-input>
        </ion-item>
      </ion-list>

      <button color="dark" ion-button icon-right icon-only class="input-button">
        <ion-icon name="ios-send"></ion-icon>
      </button>
    </div>
</ion-footer> -->
<ion-footer>
  <ion-item>
    <ion-input fixed type="text"></ion-input>
    <button ion-button clear item-right (click)="send()" (click)="scrollBottom()"> <b>SEND</b> </button>
  </ion-item>
</ion-footer>
