<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
      <!-- My Page -->
      <ion-title>
        <img src="/assets/imgs/judy_logo_rectangle_final.png" alt="" height="40">
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <h3>My Categories</h3>
    <!-- <div class="bg-grey">
      <ion-list *ngFor="let category of categoryArray">
        <button ion-button color="secondary" class="flat-button">{{category.title}}</button>
      </ion-list>
    </div>
  </div>


 -->
  <span *ngFor="let category of categoryArray">
    <button ion-button small color="secondary" class="flat-button">#{{category.title}}</button>
  </span>
</div>

  <div padding>
    <h3>Threads</h3>
    <div class="bg-grey">
        <ion-item text-wrap style="font-size: 14px" *ngFor="let post of postArray">
          {{post.title}}
        </ion-item>
    </div>
  </div>

  <div padding>
    <h3>My Past Counselors</h3>
    <ion-list *ngFor="let counselor of counselorArray">
        {{counselor.name}}
    </ion-list>
  </div>
</ion-content>
