<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <img src="/assets/imgs/judy_rectangle.png" alt="" height="40">
    </ion-title>
    <ion-buttons end>
      <button ion-button block (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button block (click)="showCategories()">
        <ion-icon name="list"></ion-icon>
      </button>
      <button ion-button block (click)="writeNewPost()">
        <ion-icon name="document"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let post of posts[0]">
  <ion-card>
    <ion-card-content>
        <span *ngFor="let c of post.CATEGORY">
            <b>#{{c}}</b>
        </span>
        <span><br />{{post.DATE}}</span>
    </ion-card-content>

    <ion-card-content >
      <p>{{post.TEXT}}</p>
    </ion-card-content>

    <ion-row>
      <!--<ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="heart"></ion-icon>
         <div>{{post.SCORE}}</div>
        </button>
      </ion-col>-->
      <ion-col>
        <button ion-button icon-left clear small color="secondary">
          <ion-icon name="text" color="secondary"></ion-icon>
          <div color="secondary">4 Comments</div>
        </button>
      </ion-col>

    </ion-row>
  </ion-card>
  </ion-item>

    <ion-fab right bottom>
        <button ion-fab color="secondary"><ion-icon ios="ios-happy-outline" md="md-happy"></ion-icon></button>
        <ion-fab-list side="left">
          <button ion-fab color="dark" (click)="presentCounselorInfo()"><ion-icon name="sad"></ion-icon></button>
          <button ion-fab color="primary4"><ion-icon name="sad"></ion-icon></button>
          <button ion-fab color="primary3"><ion-icon name="happyo"></ion-icon></button>
          <button ion-fab color="primary2"><ion-icon name="happy"></ion-icon></button>
          <button ion-fab color="primary"><ion-icon name="happy"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>

</ion-content>
