page-rate {
  .counselor-container {
    display:flex;
    flex-direction: column;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .review-container {
    width: 90%;
    height: 300px;
    background-color: #f2f2f2;
  }
  .rating-container {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-img {
    background-color: #c2c2c2;
    height: 100px;
    margin-top: 50px;
  }
  h2 {
    font-weight: 300;
    color: #717171;
  }
}
